@{
    ViewBag.Title = "About Us";
}
<h2 class="text-center pt-5 pb-5 text-uppercase">@ViewBag.Title</h2>
<div class="about-content pb-5">
    <div class="card pt-5 pb-5">
        <p style="padding:50px;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vero laudantium deserunt dolores praesentium non atque porro laborum ut, aut rerum aperiam ratione rem commodi? Aliquid dolores labore alias quis?
            Placeat dolorum officia assumenda quo? Sit obcaecati id, recusandae itaque consequatur amet molestias ad cumque cum dicta. Aliquam veniam, pariatur alias repellendus ad quis vitae ipsa saepe maxime quas expedita.
            Pariatur, eum! Corporis reiciendis beatae commodi tenetur temporibus minima! Alias itaque officia quibusdam incidunt. Ducimus, repellendus. Sed fugit dolorem, totam, numquam eos, explicabo sint blanditiis voluptate aut reprehenderit repellat non.
            Maxime maiores fuga et animi earum repudiandae autem quae eveniet provident inventore. Aspernatur nisi reiciendis eius voluptatem aliquam dicta nihil ad, atque, nam excepturi perferendis sint repellat corporis magni accusamus?
            Perferendis vel aut fugiat quasi corporis autem doloribus sed debitis labore nam. Id atque error amet unde ab iste consequuntur reiciendis magnam quaerat, accusamus qui beatae repellat cumque nemo. Dolor!
            Alias, expedita iste voluptatum voluptas molestiae nobis repellendus explicabo labore odio et soluta perspiciatis distinctio rem doloremque, sunt vel corrupti? Eveniet doloribus vel ducimus quo reprehenderit amet odit cum pariatur.
            Fugiat natus, hic libero cupiditate eos iusto. Dignissimos ipsum sed harum dolore, aut officia distinctio soluta quisquam, dolor, totam cumque? Doloremque quaerat reprehenderit natus aliquam totam iure unde quidem quibusdam!
            Eius, repellat et! Vitae libero asperiores totam. Recusandae quas blanditiis ducimus labore, temporibus explicabo neque quasi deleniti totam cumque perferendis ab delectus dolore sed quibusdam velit. Veritatis assumenda pariatur cumque!
        </p>
    </div>
</div>